<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testmap"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <!-- 액티비티들 -->
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AccountEditActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.MembershipComplete"/>
        <activity android:name=".activity.NoticeActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.SettingsActivity"/>
        <activity android:name=".activity.BusRouteActivity"/>
        <activity android:name=".activity.FindAccountActivity" />
        <activity android:name=".activity.TermsPrivacyActivity" />
        <activity
            android:name=".activity.InquiryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.InquiryComposeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.UserQuitActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>

        <meta-data
            android:name="com.naver.maps.map.NCP_KEY_ID"
            android:value="o5lcffxody"/>

        <activity
            android:name=".start.StartLoding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
